.body{
    margin: 0;
    padding: 0;
    background: url(../img/Fondo/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    font-weight: bolder;
}

.login-box{
    width: 420px;
    height: 590px;
    background: transparent;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    
    padding: 700px 400px;
}
.login-box .avatar{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50%-50px);
}

.login-box {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(34, 32, 32);
    font-size: 16px;
    font-weight: bolder;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.login-box a:hover {
    color: blue;
}