 /*-- Estilos Generales--*/

body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.logotipo{
    width: 100 px;
    height: 100px;
    padding: 10px 0;
}

.icono-redes{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.carousel-inner> .carousel-item {
    width: 100%; 
    margin: auto;
}

/*--Galeria--*/

.titulo {
    width: 100%;
    margin-top: 120px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
    text-align: center;
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 70px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 20px;
    margin: auto;
    background: palegoldenrod;
    font-size: 25px;
    color: #000;
    line-height: 28px;
    text-align: center;
}

.galeria .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}


/** Acerca de Nosotros **/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container h2{
    font-size: 40px;
    font-weight: 400;
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: justify;
    font-size: 20px;
    color: black;
    line-height: 35px;
    margin:10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.333% - 10px);
    height: 300px;
    margin: 10px 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}


@media only screen and (max-width:773px){
    .acerca-de .info-container .about-gallery{flex-direction: column;}
    .acerca-de .info-container .about-gallery img{width: 100%;}
    
}
@media only screen and (max-width:590px){
    .acerca-de .info-container h1{font-size: 30px;}
    .acerca-de .info-container p{font-size: 15px;}
}

/** Video **/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 70%;
    height: 70%;
}

#map {
	height: 500px;
	width: 100%;
}