<!DOCTYPE html>
<html lang="es">


<!--Los componentes externos quedan dentro del head-->

<head>
    <title>Imagine Tours</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImagineTour</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styleS.css">
    <link rel="stylesheet" href="../static/css/estilos.css">


    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/photoGallery.js"></script>
    <script src="../static/js/script.js"></script>




</head>

<body background="#F9F7F4">
    <!--Barra-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index">
                <img class="logotipo" src="../static/img/logo.png" alt="Logotipo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="galeria">Galería</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reserva
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="form_reserva">Ingresar</a></li>
                            <li><a class="dropdown-item" href="ver">Listado</a></li>

                        </ul>
                    </li>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="¿Que desea buscar?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <!--fin container-->
        <li>
            <a class="navbar-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img class="logotipo" src="../static/img/icono/user.png" alt=""
                    style="width:50px;height:65px;border:0;">
            </a>
        </li>
    </nav>

    <!--CAROUSEL-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../static/img/carrusel/torres-del-paine.jpg" class="d-block w-100"
                                alt="torres-del-paine">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="texto-img">Torres del Paine</h5>
                                <p class="texto-img">El Parque Nacional Torres del Paine, en la región de la Patagonia
                                    de Chile, es conocido por sus altas montañas, los témpanos de azul brillante que se
                                    aferran a los glaciares y las pampas doradas que albergan fauna poco común.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="../static/img/carrusel/valle.jpg" class="d-block w-100" alt="catedral-de-marmol">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="texto-img">Valle de la Luna</h5>
                                <p class="texto-img">El valle de la Luna es un paraje desértico y punto de atracción
                                    turística, ubicado en el desierto de Atacama, a 13 km al oeste de San Pedro de
                                    Atacama</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../static/img/carrusel/rapa-nui.jpg" class="d-block w-100" alt="rapa-nui">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="texto-img">Isla de Pascua</h5>
                                <p class="texto-img">La isla es uno de los principales destinos turísticos del país
                                    debido a su naturaleza y la cultura ancestral de la etnia rapanui, cuyo más notable
                                    vestigio corresponde a enormes estatuas antropomorfas conocidas como moáis.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Texto Index -->
    <div class="container" style="margin-top: 200px; margin-bottom: 200px;">
        <div class="row">
            <div class="col-4">
                <h1 style="font-family:monospace; text-align: center;">Turismo <br> en <br> Chile</h1>
            </div>
            <div class="col-8">
                <cite style="font-family:monospace; text-align: center;"> Queremos hacerte una invitación a recorrer
                    nuestro país, conoce los climas más extremos del mundo sin cruzar la frontera, desde el desierto más
                    arido del mundo, hasta una de las mayores reservas de agua dulce a nivel mundial, descubre las
                    distintas culturas que posee esta larga y angosta faja de tierra, catalogada como el país más
                    hermoso de la tierra, segun una encuesta realizada en este mismo país. <br>porque todos sabemos que
                    somoh el mejor paí de Shile</cite>
            </div>
        </div>
    </div>

    <!--Footer-->

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="index">
                        <img src="../static/img/logo.png" alt="Logo Imagine Tours">
                    </a>
                </figure>
            </div>

            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Scarleth Martinez - Javier Bastias</p>
                <p>Felipe Conduela</p>
            </div>

            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/">
                        <img class="logotipo" src="../static/img/icono/facebook.png" alt=""
                            style="width:50px;height:65px;border:0;">
                    </a>
                    <a href="https://www.instagram.com/?hl=es-la">
                        <img class="logotipo" src="../static/img/icono/instagram.png" alt=""
                            style="width:50px;height:65px;border:0;">
                    </a>
                    <a href="https://twitter.com/?lang=es">
                        <img class="logotipo" src="../static/img/icono/twitter.png" alt=""
                            style="width:50px;height:65px;border:0;">
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        <img class="logotipo" src="../static/img/icono/youtube.png" alt=""
                            style="width:50px;height:65px;border:0;">
                    </a>
                </div>
            </div>
        </div>

        <div class="grupo-2">
            <small>&copy; 2022 <b>Imagine Tours</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

 <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="email1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email1" nombre="email1" required>
                            <div id="emailHelp" class="form-text"></div>
                            <div class="valid-feedback">Ok</div>
                            <div class="invalid-feedback">El Email ingresado no es valido</div>
                        </div>
                        <div class="mb-3">
                            <label for="password1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password1" nombre='password1' required>
                            <div class="valid-feedback">Ok</div>
                            <div class="invalid-feedback">No hay datos en este campo</div>
                        </div>


                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <a href="registrarse">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Registrarse</button>
                        </a>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>

</body>

</html>